
.txtlogin
{
	margin-top: 10% !important;
	margin-bottom: 8%;
	text-align: center;
	padding: auto;
}
.txttweak
{
	margin-top: 1.5% !important;
	margin-bottom: 1.5%;
	text-align: center;
}
.datcard
{
	margin-top: 5% !important;
	margin-bottom: 5%;
}

.gaben 
{
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}


.datselect
{
	padding-bottom: 1%;
	padding-top: 1%;
}

@media (min-width: 800px) { 
	.containersamere{
		margin-top: 10%;
		margin-right: 30%;
		margin-left: 30%;
		border: grey solid 1px;
		border-radius: 20px;

	}

	.fixed
	{
		position: fixed;;
	}

	.datupload
	{
		position: absolute;
		top:15%;

		left: 20%;
		right: 20%;
		border: solid 1px ;
		padding: 2%;

	}

	.datselect
	{
		padding-bottom: 2%;
		padding-top: 2%;
	}
}

@media (max-width: 800px) { 
	.containersamere{
		margin-left: -3.6%;
		margin-right: -3.6%;
		margin-top: 2%;
		padding: 5%;
		border: solid 1px;
		border-radius: 1px;
		padding-bottom: 10%;
	}
	.datupload
	{
		border: solid 1px ;
		margin-top: 1%;
		padding: 6%;

	}
	.datselect
	{
		padding-bottom: 1%;
		padding-top: 1%;
	}

}
.dathomepage
{
	margin-top: -1.1%;
	padding-top: 2%;

}

.file-field .btn-floating {
	float: left; 
}

.w-auto {
	width: auto;
}
.data
{
	display: none;
}

.table-wrapper {
	display: block;
	max-height: 300px;
	overflow-y: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
} 

.myLabel{
	font-size:0.8rem !important;
}


table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after {
	padding: 5px;
}
.dataTables_wrapper .mdb-select {
	border: none;
}
.dataTables_wrapper .mdb-select.form-control {
	padding-top: 0;
	margin-top: -1rem;
	margin-left: 0.7rem;
	margin-right: 0.7rem;
	width: 100px;
}
.dataTables_length label {
	display: flex;
	justify-content: left;
}
.dataTables_filter label {
	margin-bottom: 0;
}
.dataTables_filter label input.form-control {
	margin-top: -0.6rem;
	padding-bottom: 0;
}
table.dataTable {
	margin-bottom: 3rem!important;
}
div.dataTables_wrapper div.dataTables_info {
	padding-top: 0;
}

.table-wrapper-2 {
	display: block;
	max-height: 300px;
	overflow-y: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

